<h1>EMPLOYEE LIST</h1>
<a href="{% url 'employeeForm' %}">Add Employee</a>
<a href="{% url 'filterEmployee' %}">Filter Employees</a>
<br><br>

<a href="{% url 'sortEmployee' 2 %}">Age ACS</a>
<a href="{% url 'sortEmployee' 1 %}">Age DSC</a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Join Date</th>
            <th>Post</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees %}
        <tr>
            <td>{{ emp.id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.age }}</td>
            <td>{{ emp.salary }}</td>
            <td>{{ emp.join_date }}</td>
            <td>{{ emp.post }}</td>
            <td>
                <a href="{% url 'employeeDelete' emp.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
